body{
    background-color:#99ff33;
}

h1
{
    color: gold;
    background-color: #000080;
}

#show_sketch
{
    float:right;
}
canvas
{
    border:5px solid rgb(255, 255, 255);
    border-radius: 20px;
    animation-name: example;
    animation-duration: 15s;
    margin-top: 50px;
    animation-iteration-count: infinite;

}
@keyframes example{

    from {box-shadow: 1px 1px 38px rgb(0, 0, 0);}
    to {box-shadow: 1px 1px 38px rgb(255, 255, 255);}
}

p
{
    padding-top: 10px;
    font-size: 25px;
}